.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    padding: 50px 24px;
    width: 500px;
    max-width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}