<div class="layout">
  <div class="banner">
    <div class="banner__title">Ремонт. Саранск</div>
    <div class="banner__description">Комфорт в Ваш дом</div>
    <img class="banner__logo" src="assets/img/man.svg" />
  </div>
  <div class="content-container">
    <benefits [loading]="!isBenefitsLoaded" [items]="benefits"></benefits>
    <section-header [title]="'Этапы сотрудничества'"></section-header>
    <road-map
      [loading]="!isCooperationStagesLoaded"
      [stages]="cooperationStages"
    ></road-map>
  </div>
</div>
