<div class="banner">
    <div class="banner-title">Ремонт. Саранск</div>
    <div class="banner-description">Комфорт что-то там</div>
</div>
<div class="content">
    <div class="benefits">
        <div class="benefits-column">
            <div class="benefit-title">Быстро</div>
            <div class="benefit-description">очень очень. Делаем красиво. Без лишних наценок и разговоров.</div>
        </div>
        <div class="benefits-column">
            <div class="benefit-title">Надежно</div>
            <div class="benefit-description">очень очень. Делаем красиво. Без лишних наценок и разговоров.</div>
        </div>
        <div class="benefits-column">
            <div class="benefit-title">Качественно</div>
            <div class="benefit-description">очень очень. Делаем красиво. Без лишних наценок и разговоров.</div>
        </div>
    </div>
</div>