.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  // брать из темы
  background-color: #3f51b5;
  height: 300px;
  color: white;
}

.banner__title {
  // font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  font-size: calc(32px + 2vw);
}

.banner__description {
  font-size: 20px;
  font-weight: 300;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.benefits-columns {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  padding: 50px 16px;
  color: #0000008a;
  flex-wrap: wrap;
  width: 75%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex-basis: 300px;
  flex-grow: 1;
}

.benefit__title {
  font-size: 25px;
}

.benefit__description {
  font-size: 16px;
  line-height: 28px;
}
