.layout {
  height: 100%;
  overflow-y: auto;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 25px;
  // брать из темы
  background-color: #3f51b5;
  height: 300px;
  color: white;
}

.divider {
  width: 100%;
}

.banner__title {
  line-height: 48px;
  font-weight: 700;
  font-size: min(48px, calc(32px + 2vw));
}

.banner__description {
  font-size: 20px;
  font-weight: 300;
}

.banner__logo {
  position: absolute;
  height: 210px;
  bottom: -20px;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding-bottom: 80px;
  }
}
