.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.benefits-columns {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  padding: 50px 16px;
  color: #0000008a;
  flex-wrap: wrap;
  width: 80%;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex-basis: 350px;
  flex-grow: 1;
}

.benefit__title {
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
}

.benefit__description {
  font-size: 16px;
  line-height: 28px;
}
