<app-layout title="{{ title }}">
  <div class="masonry" [style.column-count]="columnCount">
    <mat-card class="card" *ngFor="let service of serviceList">
      <mat-card-title>{{ service.name }}</mat-card-title>
      <mat-card-subtitle>пояснение</mat-card-subtitle>
      <mat-card-content>
        {{ service.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button (click)="onOrder(service.name)">
          Заказать
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout>
