<div class="container">
    <ng-container *ngFor="let service of serviceList">
        <div class="card">
            <mat-card>
                <mat-card-title>{{service}}</mat-card-title>
                <mat-card-subtitle>пояснение</mat-card-subtitle>
                <mat-card-content>
                    <p>Описание услуги</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button (click)="onOrder(service)">Заказать</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>