.nav-bar {
  padding: 0px 16px;
  height: 100%;
  box-sizing: border-box;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding: 4px 8px 0px;
    flex-direction: column-reverse;
  }
}

.menu {
  display: flex;
  flex-shrink: 0;
}

.menu__icon {
  vertical-align: sub !important;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contacts__phone {
  color: black;
}

.contacts__phone__button {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  padding: 0 8px;
}

.contacts__phone__icon {
  transform: scale(0.7);
}
