<div class="container">
  <div class="tabs">
    <ng-container *ngFor="let route of routes; let i = index">
      <button
        routerLinkActive
        #rla="routerLinkActive"
        mat-button
        color="{{ rla.isActive ? 'primary' : '' }}"
        routerLink="{{ route.link }}"
      >
        <mat-icon *ngIf="i === 0" class="main-icon">roofing</mat-icon
        >{{ route.label }}
      </button>
    </ng-container>
  </div>
  <div class="contacts">
    <a href="tel:{{ phoneNumber }}" class="phone-link">
      <button class="phone-number" mat-button>
        <mat-icon class="phone-icon">phone</mat-icon>
        <span>{{ formattedPhoneNumber }}</span>
      </button>
    </a>
  </div>
</div>
