<mat-toolbar class="nav-bar">
    <div class="content">
        <div>
            <ng-container *ngFor="let route of routes">
                <button routerLinkActive #rla="routerLinkActive" mat-button color="{{rla.isActive ? 'primary' : ''}}"
                    routerLink="{{route.link}}">{{route.label}}</button>
            </ng-container>
        </div>
        <div class="contacts">
            <mat-icon>phone</mat-icon>
            <div>+7 (xxx) xxx-xx-xx</div>
        </div>
    </div>
</mat-toolbar>