@import "../../styles.scss";

.section-header {
  height: 80px;
  background-color: map-get($primary, 500);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 20px;
  flex-shrink: 0;
}
