@use "@angular/material" as mat;

@include mat.core();

$foreground: mat.$light-theme-foreground-palette;
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Отключение zoom'а в мобильных устройствах при фокусе на полях
input,
textarea,
select {
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

// ::-webkit-scrollbar {
//   width: 10px;
// }
// ::-webkit-scrollbar-track {}
// ::-webkit-scrollbar-thumb {
//   background: lightgray;
//   border-radius: 20px;
// }
